nav {
    max-width: 980px;

}

nav .navbar-nav {
    padding: 2rem;
}

.navbar-nav>.nav-link.active {
    font-size: 1rem;

}

h1 {
    font-size: 4.5rem;
}


/*...............CARROUSEL............*/

.carousel {
    display: flex;
    max-width: 100%;
    margin: auto;
}

.carousel-item{

    background-color: rgb(247, 175, 21);
}
.img__container__carousel {
    max-width: 890px;
}

.img__carrousel{
    height: 510px;
}

.parrafo__carrousel{
    color: whitesmoke;
    font-family: "Playfair", "Lora", Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
/*...............SECCIÓN: NOSOTROS............*/

#cofre__magico {

    display: flex;
}

.frase__container {
    width: 50%;
}



/*............PÁGINA APARTE PRODUCTOS: ESPOSAS DE ESCAPISMO ................*/
/*
.producto__esposas__container{
    flex-direction: row;
    flex-wrap: wrap;
}

.producto__esposas__container > div{
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 45%;
}

.producto__esposas__container > div h3{
    flex: 100%;
    order: 1;
    text-align: right;
}

.producto__esposas__container .esposas__img__container{
    flex: 1 30%;
    order: 3;
    align-self: center;
}*/


/*........................BORRAR................*/
.producto__main__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.producto__main__container>div {
    flex-direction: row;
    flex-wrap: wrap;
}

.producto__main__container .producto__titulo {
    flex: 100%;
}

.card__producto__esposas {
    flex: 1 30%;
    order: 1;
}


.producto__caracteristicas {
    flex: 1;
    order: 2;

}

/*
.esposas__titulo__descripcion{
    flex: 100%;
    text-align: right;
    order: 2;
}

.img__esposas__container{
    flex: 1;
    order: 3;
    flex: 1 30%;
    order: 3;
}

.descripcion__esposas{
    flex: 1 20%;
    order: 4;
}

.esposas__titulo__detalles{
    flex: 100%;
    order: 5;
    text-align: right;
}*/


/*...............SECCIÓN: ¿POR QUÈ APRENDER MAGIA? ............*/

iframe {
    display: block;
    aspect-ratio: 16/ 9;
}

/*...............SECCIÓN: FORMULARIO ............*/

input {
    width: 400px;
}

#opciones {

    justify-content: center;
}

.container__form__textarea{

    width: 90%;
}

textarea {

    min-height: 15rem;
}

.form__btn {
    font-size: 1.5rem;
    width: 20%;
    margin: 3.5rem auto;
}

