* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid purple;
}

/*.........ESTILOS GENERALES.......*/

body {
    background-image: url("../img/fondos/blue__smoke.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header,
main,
footer {
    background-color: #16161687;
    max-width: 1680px;
}


h1,
h2,
h3,
h4,
label {
    font-family: "Playfair", "Lora", Arial, Helvetica, sans-serif;
    color: rgb(247, 175, 21);
}


h1 {
    margin: 2rem;
    font-size: 3.5rem;
}

.container {
    max-width: 1680px;
}

.container div>h2 {
    --bs-gutter-x: 0;
}

h2 {
    --bs--text: center;
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}


h2,
h3 {
    background-color: #306775bd;
    padding: 0.5rem;

}

h2,
h3,
h4 {

    text-shadow: 2px 2px 2px #212120;
    border-radius: 4px;
}

section{
    padding: 0;
}

.container__texto__fondo{
    background-color: #5f9ea04f;
    border-radius: 5px;
}

p {
    text-align: start;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: whitesmoke;
    line-height: 2rem;
    margin-bottom: 0;
 
}

img {
    max-width: 690px;
    border-radius: 5px;
}


/*.........MENÚ DE NAVEGACIÓN.......*/

nav {
    background-color: #2f7587;
    margin: auto;

}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color: rgb(247, 175, 21);
}

nav {
    border-radius: 0%;
}

.navbar-toggler{
    height: 4rem;
    background-color: #16161687;

}

.navbar-toggler-icon{
    margin: auto;
    background-color: rgb(247, 175, 21);
    border-radius: 3px;
}

.navbar-nav {
    justify-content: center;
    margin: 0 auto;
}

.navbar-nav>.nav-link.active {
    color: whitesmoke;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px black
}

.nav-link {
    display: block;
    text-align: center;
    color: whitesmoke;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #00000085;
    border-bottom: thin solid rgb(247, 175, 21);

}

.navbar-nav>.nav-link.active:hover{
    color:rgb(247, 175, 21);
}

.favicon{
    height: 4.5rem;
}
/*.........SECCIÓN: NOSOTROS.......*/

.card__fondo__transparente {

    background-color: #306775bd;
    margin: 1rem auto;
}

.card-text{
    margin-bottom: 0.5rem;
}

.blockquote-footer {
    font-family: "Playfair", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: rgb(247, 175, 21);
    padding-right: 1.3rem;
    border-radius: 5px;
}

.img__nosotros{
    margin: 0.5rem auto;
    background-color: rgb(247, 175, 21);
}

.g-5, .gy-5 {
    --bs-gutter-y: 1rem;
}

.g-5, .gx-5 {
    --bs-gutter-x: 1rem;
}
/*.........SECCIÓN: CATEGORÍAS.......*/

.text-secondary {
    color: rgb(247, 175, 21);
}

/*.........SECCIÓN: PRODUCTOS.......*/

.card {

    --bs-card-border-color: none;
    --bs-card-bg: #2f7587;
}

.pastilla__producto {

    background-color: black;
}

span {
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 1.5rem;
    color: whitesmoke;
    font-size: 1.4rem;
    background-color: #16161687;
}

.precio{
    font-size: 1.5rem;
}

.btn__comprar {
    display: block;
    margin: auto;
    background-color: #0a4665;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    color: rgb(247, 175, 21);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: "Playfair";
}

/*............PÁGINA APARTE PRODUCTOS: ESPOSAS DE ESCAPISMO ................*/

.producto__main__container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    align-content: flex-start;
}

.esposas__titulo__descripcion {
    flex: 100%;
    text-align: right;
}

.card__producto__esposas {
    width: 40rem;
    margin: 1rem 0;
}

.producto__caracteristicas {
    flex: 1;
    margin: 1.3rem;
    padding: 1rem;
}


.accordion {
    --bs-accordion-bg: #2f7587;
    --bs-accordion-border-color: none;
}

.accordion-button {
    background-color: rgb(247 175 21 / 80%);
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-size: 1.4rem;
    margin: 0.5rem auto;

}

.accordion-button:not(.collapsed) {
    color: #ffc107;
    background-color: #0a4665
}

span {
    margin: 1.5rem;
    font-size: 1.8rem;
}

.accordion .accordion__esposas__producto {
    margin: 2rem auto;
}

/*............SECCIÓN: BENEFICIOS................*/

.card .titulo__beneficios {
    background-color: #16161687;
    margin-top: 1.5rem;
}

/*............SECCIÓN: CONTACTO................*/

form {

    padding: 1.5rem;
}

.form-control {
    margin-bottom: 1.5rem;
}

label .form-label {
    margin-bottom: 1.2rem;
    padding: 1rem;
    margin: 1.2rem auto;
    text-align: center;
    line-height: 2.5rem;
}

.form-label {
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 250px;
}

.datos {
    background-color: #306775bd;
    text-shadow: 2px 2px 2px #212120;
}

label {
    font-size: 1.3rem;
    display: inline-block;
}

#opciones {
    display: flex;
    justify-content: center;
}

input {
    width: 250px;
}

.form-select {
    background-color: #2f7587;
    color: white;
    text-shadow: 1px 1px 1px black;
    border: none;
}

#magiaFav label {
    width: 210px;

}

#magiaFav {
    padding: 0.5rem;
    font-size: 1.3rem;
 
}

#datos {
    width: 210px;
}

.container__form__textarea{

    width: 100%;
    margin: auto;
}

#comentarios {
    min-height: 10rem;
    width: 100%;
    margin: auto;
    align-self: center;
    font-size: 1rem;
    padding: 0.5rem;
    font-family: "Playfair", Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.form__btn {
    width: 80%;
    margin: 1.5rem auto;
    padding: 1rem;
    background-color: #2f7587;
    font-family: "Playfair", Arial, Helvetica, sans-serif;
}

.btn-primary {

    --bs-btn-border-color: none;
    --bs-btn-hover-bg: rgb(247, 175, 21);
    --bs-btn-active-bg: rgb(247, 175, 21);
}

form>button {
    font-family: 'Lora'Arial, Helvetica, sans-serif;
    margin: 3rem auto;
    font-size: 1.2rem;

}

form>select {
    margin: 3rem auto;
    padding: 1rem;
}

/*............FOOTER: ACERCA DE MI................*/



/*............FOOTER: EMPRESA................*/
.list-group-item {
    padding: 1.5rem;
    background-color: #0b4554;
    color: rgb(247, 175, 21);
    font-size: 1.1rem;
    border-color: rgb(247, 175, 21);
    border-style: dotted;
}

.footer__empresa{
    background-color: #16161687;
    color: whitesmoke;
    font-family: "Playfair", Arial, Helvetica, sans-serif;;

}

.footer__empresa li:hover{
    color: rgb(247, 175, 21);
}